<div class="container">
  <div style="text-align:center">
    <h1>{{title}}</h1>
    <h3>{{currentFocus}}</h3>
  </div>
  <h2>Recipes:</h2>
    <h6>entered {{month}}/{{day}}/{{year}}</h6>
    <br>
  <ol>
    <app-recipe-list [childRecipeList]="masterRecipeList" (clickSender)="editIngredient($event)"><app-edit-recipe [childSelectedIngredient]="selectedIngredient"></app-edit-recipe>
    </app-recipe-list>

  </ol>
  <app-edit-recipe [childSelectedIngredient]="selectedIngredient" (clickedDone)="finishedEditing()"></app-edit-recipe>


  <app-new-ingredient (sendIngredient)="addIngredient($event)"></app-new-ingredient>
</div>
